:root {
    --gold: #fda403;
    --orange: #e8751a;
    --light-purp: #c51350;
    --dark-purp: #8a1253;

    --aqua: #00b3e5;
    --dark-aqua :#26a3c5;
    --grey: #999;
    --light-grey: #f5f5f5;
    --dark-grey: rgb(112, 112, 112);
    --dark-blue :#272d86;
    --med-blue :#005587;
    --med-blue-hover :#4a83a1;


}

/* div, footer, article, aside, header {
    border: 1pt solid red;
} */

* {
    font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 44em 21em 1fr;
    grid-template-rows: minmax(100px, 1fr) auto 200px 200px 200px;
    grid-template-areas: 
        'empty-l    header          header      empty-r'
        '.          article         aside       .'
        '.          article-footer  .           .'
        '.          promoted        promoted    .'
        'footer     footer          footer      footer'
        ;
}

.empty-l {
    grid-area: empty-l;
    border-bottom: 1pt solid var(--grey);
}

.empty-r {
    grid-area: empty-r;
    border-bottom: 1pt solid var(--grey);
}

.sticky {
    position: fixed;
    top: -1em;
    width: 65em;
    background-color: white;
    border-bottom: 1pt solid var(--grey);
    border-top: 4pt solid white;
  }

/* ===============
HEADER 
==================*/

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1pt solid var(--grey);
    margin-top: 2em;
    
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* place-items: stretch; */
}


.header-left span{
    color: var(--aqua);
    font-size: 14pt;
    /* font-weight: 100; */
}

.header-left p{
    color: var(--grey);
    /* font-weight: 600; */
    font-family: "PT Serif",Georgia,serif!important;
}

.header-center {
    /* width: auto; */
}

.header-right {
    justify-self: end;

}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 0.25em;
    color: white;
    background-color: var(--aqua);
    font-weight: 800;
}

.subscribe-btn {
    padding: 0.5em 2em;
}

.subscribe-btn:hover {
    background-color: var(--dark-aqua);
}

/* ===============
NAVBAR 
==================*/

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.nav-links {
    width: 100%;
    display: flex;
    /* background-color: violet; */
    margin-bottom: -0.5rem;
}

.left-links {
    margin-right: 1em;
    display: flex;
    gap: 0.25em;
}

.space-link {
    border-bottom: 5pt solid var(--dark-blue);
    color: var(--aqua);
}

.link-arrow {
    transform: rotate(90deg);
    content: "»";
    /* color: red; */
}

.right-links {
    display: flex;
}

.right-links a {
    color: var(--aqua);
}


.nav-options {
    /* background-color: red; */
    display: flex;
    /* padding-bottom: 0.5em; */
}

.nav-options button {
    display: grid;
    grid-template-columns: 20px 50px;
    border: none;
    background-color: white;
}

.nav-options button:hover {
    /* background-color: red; */
    text-decoration: underline;
    color: var(--grey);
}

.nav-options button span {
    display: inline;
}

.icon {
    /* background-color: red; */
}

nav ul a {
    color: black;
    text-decoration: none;
    margin-right: 0.5em;
    font-weight: 800;
}

nav a:hover { 
    border-bottom: 5pt solid var(--dark-blue);
    color: var(--aqua);
}

/* ===============
ASIDE 
==================*/

aside {
    grid-area: aside;
}

.aside-content {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    align-items: center;
}

.aside-content-top {

}

.aside-content-top ul {
    display: flex;
    width: 100%;
    gap: 0.55em;
    
}

.aside-content-top li {
    background-color: var(--light-grey);
    padding: 0.5em 0.9em;
    font-size: 10pt;
    font-weight: 600;
    margin: 2em 0em 0.25em 0;
}

.trending {
    background-color: var(--aqua)!important;
    color: white;
}

.aside-content-main li {
    background-color: var(--light-grey);
    padding: 0.5em;
    display: flex;
    font-size: 17pt;
    margin-bottom: 0.25em;
    color: var(--dark-grey);
    /* font-weight: 900; */
    align-items: center;
}

.aside-content-main span {
    color: var(--aqua);
    font-size: 24pt;
    margin-left: 0.25em;
}

/* ===============
ARTICLE 
==================*/

article {
    grid-area: article;
    background-color: var(--gold);
    /* height: 600px; */
}

.article-title {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.0375rem;
    /* line-height: 2rem; */
    margin: 0.5em 0;
    /* font-family: Titillium Web,Helvetica,Trebuchet MS,Arial,sans-serif; */

}

.article-socials {
    display: flex;
}

.social-btn {
    margin-right: 1em;
}

.social-facebook {
    background-color: #3b5998;
}

.social-twitter {
    background-color: #1da1f2;
}

.social-whatsapp {
    background-color: #4dc247;
}

.social-linkedin {
    background-color: #0077b5;
}

.social-reddit {
    background-color: #ff5700;
}

.article-info {
    margin-top: 0.5em;
}

.article-info span{
    font-weight: 800;
    margin-right: 0.5em;
}

.article-info p {
    display: inline;
}

.article-content {
    margin-top: 1em;
}

.article-author {
    display: flex;
}

.article-author span{
    display: inline;
    color: var(--aqua);
    font-weight: 800;
    margin-left: 0.25em;
}

.article-image {
    /* width: 100%; */
    left: 0;
    /* position: absolute; */
    margin: 0.5em 0 1em 0;
    font-size: 0.8rem;
}

.image-caption {
    font-weight: 900;
}


.readmore {
    margin: 1em 0;
    background-color: var(--light-grey);
    padding: 0.5em;
    font-weight: 600;
}

.readmore span {
    color: var(--aqua);
    cursor: pointer;
    /* font-size: 0.9rem; */
}

.references {
    margin: 0.5em 0;
}

.references span:first-of-type{
    font-weight: 600;
}

.references span:last-of-type{
    color: var(--aqua);
    cursor: pointer;
}

.newsletter-signup {
    font-style: italic;
}

.newsletter-signup span {
    color: var(--aqua);
    cursor: pointer;
}

.topics-links {
    margin: 1.5em 0;
    display: flex;
    /* background-color: red; */
    align-items: center;
    
}

.topics-links p {
    font-weight: 800;
}

.topics-links-btns {
    margin-left: 1em;
}

.topics-links-btns button{
    background-color: var(--med-blue);
    border: none;
    color: white;
    padding: 0.5em;
    border-radius: 0.25em;
    font-weight: 900;
    cursor: pointer;
}

.topics-links-btns button:hover{
    background-color: var(--med-blue-hover);
}




/* ===============
ARTICLE-FOOTER 
==================*/

.article-footer {
    grid-area: article-footer;
    background-color: var(--dark-purp);
    /* height: 200px; */
}

.promoted-stories {
    grid-area: promoted;
    background-color: var(--gold);
    /* height: 200px; */
}

footer {
    grid-area: footer;
    background-color: var(--orange);
    /* height: 400px; */
}